tools/project_generator/asf.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
      <xs:documentation>
         This document provides specification for XML that describe drivers, applications and other software modules (from here on called modules) in the Atmel Software Framework.

Upon start the parser will scan though the ASF directory structure for al asf.xml files, strip the "asf" tag and then include all elements into one XML file.
The resulting XML file is used as a database for all software modules in the ASF.
The database can be used to resolve dependencies for any module in the ASF, and find other information regarding the software modules.
      </xs:documentation>
   </xs:annotation>

   <xs:element name="asf">
      <xs:annotation>
         <xs:documentation>
            Top level element for any build system XML file.

Each XML file can be validated with this XML Schema.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="project" minOccurs="0"/>
            <xs:element ref="device-map" minOccurs="0"/>
            <xs:element ref="board" minOccurs="0"/>
            <xs:element ref="module" minOccurs="0"/>
            <xs:element ref="select-by-device" minOccurs="0"/>
            <xs:element ref="select-by-config" minOccurs="0"/>
            <xs:element ref="framework-version" minOccurs="0"/>
            <xs:element ref="documentation" minOccurs="0"/>
         </xs:choice>
         <xs:attribute name="xmlversion" use="required">
            <xs:annotation>
               <xs:documentation>
                   ASF XML version. Current version is 1.0
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="1.0">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="asfId">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z0-9\.\-_#]+"/>
      </xs:restriction>
    </xs:simpleType>

   <xs:element name="project">
      <xs:annotation>
         <xs:documentation>
            A project is an application that is configured for a specific board. An application is described with the module tag.

A project description is the starting point for the project generator, and must at least state:

  1. which board the project makes use of

  2. which project generators can be used

  3. which application the project is for
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="board-addon" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="build" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="require" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="config" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="generator" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="related-module" minOccurs="0" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  Unique id
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Description of the project
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Type of project
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="normal">
                  </xs:enumeration>
                  <xs:enumeration value="template">
                  </xs:enumeration>
                  <xs:enumeration value="unit-test">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="workspace-name" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Optional name to use for the project in generated workspaces.
               </xs:documentation>
            </xs:annotation>
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:pattern value="[a-z0-9\-_]+"/>
	    </xs:restriction>
	  </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="board">
      <xs:annotation>
         <xs:documentation>
            The board element is used for describing a board that a project is run on
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="build" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="require" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="config" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="related-module" minOccurs="0" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  unique id
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Description of the board
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="mcu" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  The target mcu that is on the board
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="vendor" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The vendor of the board, defaulting to "User" if unspecified
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="module">
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="build" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="require" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="device-support" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="generator" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="related-module" minOccurs="0" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  Unique id for module
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Description of the module
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="type" use="required">
            <xs:annotation>
               <xs:documentation>
                  The type of the module.
It can be :

- driver

- component

- service

- library

- application

- meta

- build-specific
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="driver">
                  </xs:enumeration>
                  <xs:enumeration value="component">
                  </xs:enumeration>
                  <xs:enumeration value="service">
                  </xs:enumeration>
                  <xs:enumeration value="library">
                  </xs:enumeration>
                  <xs:enumeration value="application">
                  </xs:enumeration>
                  <xs:enumeration value="meta">
                  </xs:enumeration>
                  <xs:enumeration value="build-specific">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="device-map">
      <xs:annotation>
         <xs:documentation>
            The device-map is used for specifying the selection process of a select-by-device tag and device-support elements.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="group" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  Unique id of device-map.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="select-by-device">
      <xs:annotation>
         <xs:documentation>
            The select-by-device element is used for resolving device dependent modules.
It will try to find a module within the tag that contains the same id, with a hash and the device appended.
It starts searching at the MCU in the device-map and then to each parent node, until a match is found.
This ensures that a driver for one specific device has higher priority than a family generic driver.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="module" minOccurs="0" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  Unique ID
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Description of the selector
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="select-by-config">
      <xs:annotation>
         <xs:documentation>
            The select-by-config element is used for resolving configuration dependent modules.
It will try to find a module within the tag that contains the same id, with a hash and the configuration appended.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="select-by-config" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="select-by-device" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="module" minOccurs="1" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:attribute name="id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  Unique ID
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Name of the configuration to use for this selector.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="default" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The default value of the configuration if no value is configured.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Description of the selector
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="group">
      <xs:annotation>
         <xs:documentation>
            Familly group name
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="group"/>
            <xs:element ref="mcu"/>
         </xs:choice>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Name of the family group. For example uc3a.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="doc-arch" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Specify that this is an "architecture" for grouping of documentation, and the name to use.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="mcu">
      <xs:annotation>
         <xs:documentation>
            MCU name
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  Name of the MCU. For example atxmega128a1
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="generatorType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="verbose">
        </xs:enumeration>
        <xs:enumeration value="avrgcc">
        </xs:enumeration>
        <xs:enumeration value="avr32gcc">
        </xs:enumeration>
        <xs:enumeration value="armgcc">
        </xs:enumeration>
        <xs:enumeration value="iarew">
        </xs:enumeration>
        <xs:enumeration value="iarew32">
        </xs:enumeration>
        <xs:enumeration value="iarewarm">
        </xs:enumeration>
        <xs:enumeration value="doxygen">
        </xs:enumeration>
        <xs:enumeration value="doxygen-module">
        </xs:enumeration>
        <xs:enumeration value="as5_8">
        </xs:enumeration>
        <xs:enumeration value="as5_32">
        </xs:enumeration>
        <xs:enumeration value="as5_arm">
        </xs:enumeration>
        <xs:enumeration value="as5_8_template">
        </xs:enumeration>
        <xs:enumeration value="as5_32_template">
        </xs:enumeration>
        <xs:enumeration value="as5_arm_template">
        </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="generator">
      <xs:annotation>
         <xs:documentation>
            Add a generator to a project.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="value" type="generatorType" use="required">
            <xs:annotation>
               <xs:documentation>
                  This restricted value define a set of generator which is used to generate project files for a project.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="default-mcu" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  Only allowed when value="doxygen-module".
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="build">
      <xs:annotation>
         <xs:documentation>
            The build element is used for specifying what files and defines is needed for a given module.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="type" use="required">
            <xs:annotation>
               <xs:documentation>
                  The type of build entity
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="c-source">
                  </xs:enumeration>
                  <xs:enumeration value="include-path">
                  </xs:enumeration>
                  <xs:enumeration value="header-file">
                  </xs:enumeration>
                  <xs:enumeration value="module-config">
                  </xs:enumeration>
                  <xs:enumeration value="asm-source">
                  </xs:enumeration>
                  <xs:enumeration value="define">
                  </xs:enumeration>
                  <xs:enumeration value="distribute">
                  </xs:enumeration>
                  <xs:enumeration value="library">
                  </xs:enumeration>
                  <xs:enumeration value="linker-config">
                  </xs:enumeration>
                  <xs:enumeration value="macro-config">
                  </xs:enumeration>
                  <xs:enumeration value="build-config">
                  </xs:enumeration>
                  <xs:enumeration value="doxygen-image-path">
                  </xs:enumeration>
                  <xs:enumeration value="doxygen-entry-point">
                  </xs:enumeration>
                  <xs:enumeration value="doxygen-quick-start">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="subtype" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The subtype of build entity
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="api">
                  </xs:enumeration>
                  <xs:enumeration value="path">
                  </xs:enumeration>
                  <xs:enumeration value="required-header-file">
                  </xs:enumeration>
                  <xs:enumeration value="directory">
                  </xs:enumeration>
                  <xs:enumeration value="file">
                  </xs:enumeration>
                  <xs:enumeration value="user-file">
                  </xs:enumeration>
                  <xs:enumeration value="license">
                  </xs:enumeration>
                  <xs:enumeration value="compiler">
                  </xs:enumeration>
                  <xs:enumeration value="user">
                  </xs:enumeration>
                  <xs:enumeration value="flags">
                  </xs:enumeration>
                  <xs:enumeration value="script">
                  </xs:enumeration>
                  <xs:enumeration value="aux-script">
                  </xs:enumeration>
                  <xs:enumeration value="assembler-flags">
                  </xs:enumeration>
                  <xs:enumeration value="c-compiler-flags">
                  </xs:enumeration>
                  <xs:enumeration value="c++-compiler-flags">
                  </xs:enumeration>
                  <xs:enumeration value="preprocessor-flags">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The name of the build type. This is used for define builds.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  The build element
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="toolchain" type="generatorType">
            <xs:annotation>
               <xs:documentation>
                  Build element is only valid for the toolchain with the given name
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>


   <xs:element name="info" >
      <xs:annotation>
         <xs:documentation>
            The info element is used for specifying additional information on a module
         </xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="keyword"/>
         </xs:sequence>
         <xs:attribute name="type">
            <xs:annotation>
               <xs:documentation>
                  The type of information entity. The following types are supported:

- keyword
  TBD

- appnote
  Appnote number for related appnote. Ex: AVR123

- description
  Textual description of the module. Can be of type:
    * summary - Quick "one line" description.
    * detailed - Longer, more detailed description. The exact guidelines are TBD.

               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="keyword">
                  </xs:enumeration>
                  <xs:enumeration value="appnote">
                  </xs:enumeration>
                  <xs:enumeration value="description">
                  </xs:enumeration>
                  <xs:enumeration value="gui-flag">
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
              The actual information, or category for blocks of keywords:

- kit

- device

- technology

- application
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>


   <xs:element name="require">
      <xs:annotation>
         <xs:documentation>
            The require element is used for specifying what other modules is needed by a module.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="idref" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  The id of the required element
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="board-addon">
      <xs:annotation>
         <xs:documentation>
            The board-addon element is used to specify one or more add-ons to the board that should be mounted.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="vendor" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The vendor of the add-on.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="caption" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  The string to use for presenting the add-on.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="position" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>
                  The on-board position of the add-on
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="config">
      <xs:annotation>
         <xs:documentation>
            The config element is used to set the value of a configuration setting.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  The name of the configuration setting.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  The value to set for the configuration.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>


   <xs:element name="device-support">
      <xs:complexType>
         <xs:attribute name="value" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Idenfifier of device that is supported. For example atxmega128a1.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>


   <xs:element name="keyword">
      <xs:complexType>
         <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
               <xs:documentation>
                  A keyword.
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="framework-version">
      <xs:complexType>
         <xs:attribute name="name" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Release identifier name of the Atmel Software Framework
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:element name="documentation">
      <xs:complexType>
         <xs:attribute name="baseurl" type="xs:string">
            <xs:annotation>
               <xs:documentation>
                  Base URL for documentation
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="relatedModuleType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="example">
        </xs:enumeration>
        <xs:enumeration value="unit-test">
        </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="related-module">
      <xs:annotation>
         <xs:documentation>
            The related-module element is used to describe relations between modules.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="type" type="relatedModuleType" use="required">
            <xs:annotation>
               <xs:documentation>
                  How the module is related
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="module-id" type="asfId" use="required">
            <xs:annotation>
               <xs:documentation>
                  The ID of the related module
               </xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>


</xs:schema>
