tools/project_generator/schemas/fdk_extension.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
			This document provides the schema for XML that describes an FDK extension.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="fdk">
		<xs:annotation>
			<xs:documentation>
				Top level element for any FDK XML file.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extension"/>
			</xs:sequence>
			<xs:attribute name="xml-version" use="required">
				<xs:annotation>
					<xs:documentation>
						FDK XML version. Current version is 2.0
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.0">
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="extension">
		<xs:annotation>
			<xs:documentation>
				Defines an FDK extension
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author"/>
				<xs:element ref="description"/>
				<xs:element ref="icon-image"/>
				<xs:element ref="preview-image"/>
				<xs:element ref="search-terms" minOccurs="0"/>
				<xs:element ref="license"/>
				<xs:element ref="release-notes"/>
				<xs:element ref="online-help"/>
				<xs:element ref="offline-help" minOccurs="0"/>
				<xs:element ref="dependencies" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="uuid" type="uuid" use="required">
				<xs:annotation>
					<xs:documentation>
						The UUID which identifies the extension
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="org" type="pathSafeString" use="required">
				<xs:annotation>
					<xs:documentation>
						The name under which the extension should be organized, e.g., abbreviated author name
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shortname" type="pathSafeString" use="required">
				<xs:annotation>
					<xs:documentation>
						The abbreviated name of the extension
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fullname" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						The full name of the extension
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="extVersion" use="required">
				<xs:annotation>
					<xs:documentation>
						The version number of the extension
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="author">
		<xs:annotation>
			<xs:documentation>
				Defines the author of the extension
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						The full name of the author
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="website" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>
						The website of the author
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="email" type="emailAddress" use="required">
				<xs:annotation>
					<xs:documentation>
						The email address of the author
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>
				Contains the description of the extension
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="icon-image" type="filePath">
		<xs:annotation>
			<xs:documentation>
				Defines the path to an image file to use as the extension icon
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="preview-image" type="filePath">
		<xs:annotation>
			<xs:documentation>
				Defines the path to an image file to use for extension preview
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="search-terms">
		<xs:annotation>
			<xs:documentation>
				The list of terms for which the extension can be searched
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="term">
					<xs:annotation>
						<xs:documentation>
							A single search term
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="license">
		<xs:annotation>
			<xs:documentation>
				Defines the path to a file with the extension license text
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="filePath">
					<xs:attribute name="caption" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								The string with which the license is presented
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="release-notes">
		<xs:annotation>
			<xs:documentation>
				Defines the URL for the extension release notes
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="caption" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						The string with which the release notes are presented
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>
						The URL for the release notes
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="online-help">
		<xs:annotation>
			<xs:documentation>
				Defines the online locations of the various help types
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="index-page" type="indexPageUrl">
				</xs:element>
				<xs:element name="module-help-page" type="elementPageUrl" minOccurs="0">
				</xs:element>
				<xs:element name="module-guide-page" type="elementPageUrl" minOccurs="0">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="offline-help">
		<xs:annotation>
			<xs:documentation>
				Defines the offline locations of the various help types
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="index-page" type="indexPagePath" minOccurs="0">
				</xs:element>
				<xs:element name="module-help-page" type="elementPagePath" minOccurs="0">
				</xs:element>
				<xs:element name="module-guide-page" type="elementPagePath" minOccurs="0">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="dependencies">
		<xs:annotation>
			<xs:documentation>
				Defines the extension's dependencies
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="fdk-extension"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="fdk-extension">
		<xs:annotation>
			<xs:documentation>
				A FDK extension dependency
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="uuidref" type="uuid" use="required">
				<xs:annotation>
					<xs:documentation>
						The UUID of the depending FDK extension
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="extDepVersion" use="required"/>
			<xs:attribute name="eid" type="fdkEid" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Type definitions follow -->

	<xs:complexType name="indexPageUrl">
		<xs:complexContent>
			<xs:extension base="indexPage">
				<xs:attribute name="baseurl" type="xs:anyURI" use="required">
					<xs:annotation>
						<xs:documentation>
							The base URL for the help index page
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="indexPagePath">
		<xs:complexContent>
			<xs:extension base="indexPage">
				<!-- Ideally, we would extend with filePath here -->
				<xs:attribute name="path" type="filePathAttr" use="required">
					<xs:annotation>
						<xs:documentation>
							The base path for the help index page
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="indexPage">
		<xs:annotation>
			<xs:documentation>
				Defines the location of the help index page
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="caption" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					The string with which the help index page is presented
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="elementPageUrl">
		<xs:complexContent>
			<xs:extension base="elementPage">
				<xs:attribute name="baseurl" type="xs:anyURI" use="required">
					<xs:annotation>
						<xs:documentation>
							The base URL for the element help page
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="elementPagePath">
		<xs:complexContent>
			<xs:extension base="elementPage">
				<!-- Ideally, we would extend with filePath here -->
				<xs:attribute name="path" type="filePathAttr" use="required">
					<xs:annotation>
						<xs:documentation>
							The base path for the element help page
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="elementPage">
		<xs:annotation>
			<xs:documentation>
				Defines the location of element-specific help pages
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="scheme" type="fdkHelpScheme" use="required"/>
	</xs:complexType>

	<xs:complexType name="filePath">
		<xs:annotation>
			<xs:documentation>
				Defines the path to a file
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="path" type="filePathAttr" use="required">
			<xs:annotation>
				<xs:documentation>
					The path to the target file, relative to the XML file
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="filePathAttr">
		<xs:annotation>
			<xs:documentation>
				String that contains a path to a file or directory
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="fdkEid">
		<xs:annotation>
			<xs:documentation>
				String that contains the ID of a depending extension
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z0-9\.\-_]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="pathSafeString">
		<xs:annotation>
			<xs:documentation>
				String that can safely be used as, e.g., a directory name
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9\-_]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="extVersion">
		<xs:annotation>
			<xs:documentation>
				Version number of an extension on the format A.B.C, where A, B and C can contain multiple digits
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+(\.\d+)+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="extDepVersion">
		<xs:annotation>
			<xs:documentation>
				Version number of a depending extension, either specific ("A.B.C"), "latest", latest in a range with "+" (f.ex. "A.B.+") or within a range (f.ex. "(, A.B.C]", "[A.B.C, D.E.F)" or "[A.B.C, )")
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d+(\.\d+)*)(\.\+)?|latest|(((\[|\()\d+(\.\d+)*)|\(), ((\d+(\.\d+)*(\]|\)))|\))"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="uuid">
		<xs:annotation>
			<xs:documentation>
				String that is a UUID (RFC 4122), or "Atmel.ASF"
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}|Atmel\.ASF"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="emailAddress">
		<xs:annotation>
			<xs:documentation>
				String that is an email address
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="fdkHelpScheme">
		<xs:annotation>
			<xs:documentation>
				Supported schemes for organization of the element and element guide help pages
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="append">
			</xs:enumeration>
			<xs:enumeration value="asf-docs">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
